<h1>Categories</h1>
<ul>
	<% @categories.each do |category| %>
	<li><%= link_to category.name, category %> (<%= category.products.count %>)</li>
	<% end %>
	<% if session[:vip] %>
		<li>Secret product</li>
	<% end %>
</ul>